*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: bisque;
    width :100%;
    max-width: 600px;
    height: 700px;
    margin: 10px auto;
    border: 2px solid rgba(0,0,0,0.3);
    padding: 15px;
}

form{
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 20px;
    background-color: #ffff;
}

.Label{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
}

input{
    margin-bottom: 15px;
    font-size:17px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid rgba(0,0,0,0.3)
}

.content{
    display: flex;
    flex-direction: column;
    font-size: 19px;
    
}

.content__gender{
    display: flex;
    flex-direction: row ;
    font-size:19px;
    height: 36px;
}

#gender{
    font-size: 16px;
}

span{
    margin: 0 5px;
    padding-right: 15px;
}

select{
    font-size: 17px;
    border:1px solid rgba(0,0,0,0.3) ;
    border-radius: 5px;
    height: 35px;
    padding: 5px;
}

input:hover,
select:hover
{
    background-color: bisque;
    border-color: #D2691E;
}

input:focus,
select:focus
{
    background-color: #DEB887;
    border-color: #B22222;
}

.button{
    font-size: 35px;
}

.button__item{
    height: 38px;
    color: #fff;
}

.button__item_color1{
    background-color: rgb(204, 50, 50);
}

.button__item_color1:hover{
    background-color: rgba(204, 50, 50,0.8);
}

.button__item_color2{
    background-color: rgb(255,215,0);
}

.button__item_color2:hover{
    background-color: rgba(255,215,0,0.8);
}

